body {
    font-family: sans-serif;
    font-size: 13px;
}
div {
    text-align: center;
}
h1 {
    color: #a5ca3e;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h1, h2, h3 {
    text-align: center;
}
.status {
    margin-top: 1em;
    font-size: 150%;
}
table {
    margin: auto;
    border-spacing: 0;
    /* border: 1px solid #bfbfbf; */
    border-collapse: collapse;
}
th {
    border: 1px solid #bfbfbf;
    background-image:
    linear-gradient(
	#dadada, #ededed
    );
    font-weight: normal;
}
td {
    /* doesn't seem to work with images and checkboxes */
    vertical-align: middle;
    color: #2c2c2c;
}
table tr:last-child td {
   border-bottom: 1px solid #bfbfbf;
}
table td:first-child {
    border-left: 1px solid #bfbfbf;
}
table td:last-child {
    border-right: 1px solid #bfbfbf;
}
td {
    border-left: 1px dotted black;
    padding-left: 5px;
    padding-right: 5px;
}
table tr:nth-child(even) td {
    background-color: #f7f7f7;
}
table tr:nth-child(odd) td {
    background-color: #f0f0f0;
}

td.lvl1 {
}
td.lvl2 {
    padding-left: 25px;
}
td.api, td.rev {
    text-align: center;
}

ul {
    text-align: center;
    margin: auto;
    width: 25%;
}
li {
/*     list-style-position: inside; */
}
